<!--This file is to provide the graphic data and the metadata for its. The Format is 
the grid-->
<!DOCTYPE html>
<html ng-app="tempOne">
  <head>
  	<title>The picture showoff one</title>
  	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <!--The Json database for the pictures-->
    <script>
      var picture = {
         user: "sen",
         items: [{name: "New York City", description : "The biggest city in USA" ,genre : "City" ,url : "img/nyc1.jpg"},
                 {name: "San Fransisco", description : "Lots of the biggest companies of the world in the earth", genre : "City",url : "img/sf1.jpg"},
                 {name: "Los Angeles", description: "The most beaufiful beaches in the LA area. And sunshine all year round", genre : "City",url : "img/la1.jpg"},
                 {name: "San Diego", description: "The most beaufiful beaches in the LA area. And sunshine all year round", genre : "City",url : "img/sd1.jpg"},
                 {name: "Seattle", description: "The most beaufiful beaches in the LA area. And sunshine all year round", genre : "City",url : "img/sea1.jpg"},
                 {name: "Atlanta", description: "The big city sprung in GA. The Olympic is a symbol of the Atlanta", genre : "City",url : "img/Atl1.jpg"},
                 {name: "Boston", description: "The most beaufiful beaches in the LA area. And sunshine all year round", genre : "City",url : "img/sd1.jpg"},
                 {name: "Chicago", description: "The most beaufiful beaches in the LA area. And sunshine all year round", genre : "City",url : "img/sd1.jpg"},]
      };

      var tempOne = angular.module("tempOne",[]);
      
      tempOne.controller("tempCtrl" , function ($scope){
             $scope.tempitem = picture.items.slice(0,4);
             $scope.select = false;
             $scope.hide = true;
             $scope.itemNumber = 4;


             $scope.show = function (item){
                  $scope.itemShow = item;
                  $scope.hide = false;
             }

             $scope.hideBlock = function (hide){
                $scope.hide = true;
             }
             
             $scope.total = picture.items.length;

             var totalItems = picture.items.length;
             var itemPerPage = $scope.itemNumber;
             var totalPage = totalItems / itemPerPage;
             $scope.pageNo = totalPage;

             $scope.NumberOfPage = function (number) {
                $scope.itemNumber =  number;
                $scope.pageNo = totalItems / number;
                $scope.tempitem = picture.items.slice(0,number);
                 

              }
             $scope.range = function(count){

                 var ratings = []; 

               for (var i = 0; i < count; i++) { 
                ratings.push(i) 
              } 

                return ratings;
              }
               $scope.buttonOne = 1;
              $scope.nextOrLast = function(index){
                 $scope.buttonOne = index;
                 $scope.tempitem = picture.items.slice( (index - 1)*itemPerPage, (index - 1)*itemPerPage + itemPerPage);
              }
               
              
      });

       

    </script>
  </head>
  <body ng-controller="tempCtrl">
   <div class="container">
  	<!--The title starts-->
  	<div class="jumbotron" ng-model="total">
  		<h3>The Picture Gallry</h3>
  		<p>The display is to show the grid picture : <label>{{total}}</label></p>
  		<label>Template One</label>
  	</div>
  	<!--The title ends-->
    </div>

    <div class="ng-hide" align="center" ng-model="itemShow" ng-hide="hide" >
      <h3>{{itemShow.name}}</h3>
      <image src="{{itemShow.url}}" heigth="400px" width="400px">
      <h5>{{itemShow.description}}<button ng-click="hideBlock(hide)">Hide</button></h5>
    </div>
    </br></br></br>
    <!--The format is <div class row and class col >-->
    <!--For the repeat we use the AngularJs repeat from the json file or json object-->
    <div class="container">
     <table align="right">
      <div>
        <td><h4 align="right">The items per page:&nbsp;&nbsp;</h4></td>
        <td><button class="btn btn-default" ng-click="NumberOfPage(4)" ng-class="{'btn-primary' : itemNumber == 4}">4</button></td>
        <td><button class="btn btn-default" ng-click="NumberOfPage(8)" ng-class="{'btn-primary' : itemNumber == 8}">8</button></td>
      </div>
     </table>
   </div>
    <br/></br>
    <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-3" ng-repeat="item in tempitem">
         <div class="thumbnail" style="height: 230px">
         	<img src="{{item.url}}" alt="..."  width="70%">
         	<div class="caption">
         		<h5><a href="#" alt="link to the full page of the products">{{item.name}}</a></h5>
         		<p><a href="#"><font color="grey">{{item.genre}}</font></a></p>
         		<p><a class="btn btn-default" role="button" ng-click="show(item)">Read More</a></p>
           </div>
         </div>
       </div>
      </div>
      <table align="right">
      <tr ng-model="pageNo">
          <td ng-repeat="n in range(pageNo)"><Button class="btn btn-default"  ng-class="{'btn-primary': buttonOne == $index + 1}" ng-click="nextOrLast($index + 1)">{{$index + 1}}</Button></td>
       </tr>
       <table>
     </div>
  </body>
</html>