<!--This file is to provide the graphic data and the metadata for its. The Format is 
the grid-->
<!DOCTYPE html>
<html ng-app="tempOne">
  <head>
  	<title>The picture showoff one</title>
  	<!-- Latest compiled and minified CSS -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!--The Json database for the pictures-->
    <script>
      angular.module("tempOne",["customFilters"]);
      //The angularjs controller is as below:
    </script>
    <script src="controller/tempOne.js"></script>
    <script src="filters/customFilters.js"></script>
    <script src="controller/itemController.js"></script>
  </head>
  <body ng-controller="tempCtrl">
   <div class="container">
  	<!--The title starts-->
  	<div class="jumbotron" ng-model="total">
  		<h3>The Picture Gallry</h3>
  		<p>The display is to show the grid picture : <label>{{total}}</label></p>
  		<label>Template One</label>
  	</div>
  	<!--The title ends-->
    </div>
   
    <div class="ng-hide" align="center" ng-model="itemShow" ng-hide="hide" >
      <h3>{{itemShow.name}}</h3>
      <image src="{{itemShow.url}}" heigth="400px" width="400px">
      <h5>{{itemShow.description}}<button ng-click="hideBlock(hide)">Hide</button></h5>
    </div>
    </br></br></br>
    <!--The format is <div class row and class col >-->
    <!--The button for filter the different category-->
    <div class="container">
       <!-- Single button -->
       <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Menu <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="categoryList in CategoryScope | unique: 'genre' "><a href = "" ng-click="showOne(categoryList)">{{categoryList}}</a></li>
          </ul>
       </div>
    </div>
    <div class="container" ng-controller="itemController">
     <table align="right">
      <div>
        <td><h4 align="right">The items per page:&nbsp;&nbsp;</h4></td>
        <td><button class="btn btn-default" ng-click="NumberOfPage(4)" ng-class="{'btn-primary' : itemNumber == 4}">4</button></td>
        <td><button class="btn btn-default" ng-click="NumberOfPage(8)" ng-class="{'btn-primary' : itemNumber == 8}">8</button></td>
      </div>
     </table>
   </div>
    </br></br>
    
    <!--For the repeat we use the AngularJs repeat from the json file or json object-->
    <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-3" ng-repeat="item in tempitem">
         <div class="thumbnail" style="height: 230px">
         	<img src="{{item.url}}" alt="..."  width="70%">
         	<div class="caption">
         		<h5><a href="#" alt="link to the full page of the products">{{item.name}}</a></h5>
         		<p><a href="#"><font color="grey">{{item.genre}}</font></a></p>
         		<p><a class="btn btn-default" role="button" ng-click="show(item)">Read More</a></p>
           </div>
         </div>
       </div>
      </div>
      <table align="right">
      <tr ng-model="pageNo">
        
          <td ng-repeat="n in range(pageNo)"><Button class="btn btn-default"  ng-class="{'btn-primary': buttonOne == $index + 1}" ng-click="nextOrLast($index + 1)">{{$index + 1}}</Button></td>
       </tr>
       <table>
        <!--The paginate-->
     </div>
     {{test}}
  </body>
</html>