<!DOCTYPE HTML>
<html ng-app="tempTwo">
  <head>
  	<title>The Calender</title>
  	<!-- Latest compiled and minified CSS -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/styleTwo.css">
    <!--The Json database for the pictures-->
    <script>
      angular.module("tempTwo",[]);
      //The angularjs controller is as below:
    </script>
    <script src="controller/tempTwo.js"></script>
    <!--<script src="controller/itemController.js"></script>-->
  </head>
  <body ng-controller="tempCtrl">


    <div class="container">
     <h3 align="center">{{todayYear}}</h3>

     <div class="row">
      <div class="col-sm-5 col-md-2" ng-repeat="n in range(numberOfDay)" ng-model="day = getDay($index)">
         <div class="thumbnail" height="600px">
          <div class="caption">
            <h5><a href="#" alt="link to the full page of the products">{{$index + 1}} / {{todayMonth}}</a></h5>
            
            <p>Read More</p>
           </div>
         </div>
       </div>
      </div>
    </div>
  </body>
</html>