<div class="container">
     <h3 align="center" ng-model="showMonth()">{{todayYear}} &nbsp;&nbsp; {{Months}}</h3>

     <div class="row">
      <div class="col-sm-5 col-md-2" ng-repeat="n in range(numberOfDay)" ng-model="getDays($index + 1)">

         <div class="panel panel-success" style="float: none;">
            <div class="panel-heading">
              <div class="panel-title">
                 <h6>{{$index + 1}} / {{todayMonth}} {{day}}</a></h6>
              </div>
            </div>

            <div class="panel-body" style="height: 150px; width: 180px;">
                <p>{{eventss[$index]}}</p>
            </div>
            <div class="panel-footer">
                <a onclick="showDetails( ($index + 1) , todayMonth)"><p>Read More</p></a>
            </div>
         </div>

       </div>
      </div>
      <nav>
        <ul class="pagination">
          <li ng-repeat="n in range(12)"><a ng-click="lastOrNext($index)">{{$index + 1}}</a></li>
        </ul>
      </nav>
</div>